#{extends 'main_nav_sidebar.html' /}
#{set title:'Ľudia' /}


<div class="span8">
	<h2>Pridanie/odobranie kolaborantov</h2>
	<hr />

	<div class="row-fluid">
		<div class="span6">
			<form>
				<fieldset>
					<!-- <legend>Legend</legend> -->
					<label>Pridaj človeka do projektu</label>
					<input type="text" placeholder="Meno...">
					<span class="help-block">Vyber človeka a vlož ho tlačidlom vlož</span>
					<button class="btn btn-primary" type="submit">
						Vlož <i class="icon-arrow-right icon-white"></i>
					</button>
				</fieldset>
			</form>

		</div>

		<div class="span6">
			<div class="well namebox-container">
				<div class="namebox clearfix">
					<img class="namebox-avatar" src="" />
					<p class="namebox-name">
						Jožko Mrkvička
					</p>
				</div>

				<div class="namebox clearfix">
					<img class="namebox-avatar" src="" />
					<p class="namebox-name">
						Jožko Mrkvička
					</p>
				</div>
			</div>
		</div>
	</div>
</div>