#{extends 'main_nav_sidebar.html' /}
#{set title:'Ľudia' /}


<div class="span8">
	<h2>Pridanie/odobranie kolaborantov</h2>
	<hr />

	<div class="row-fluid">
		<div class="span6">
			<form action="/project/${project.id}/adduser">
				<fieldset>
					<!-- <legend>Legend</legend> -->
					<label>Pridaj človeka do projektu</label>
					<input type="text" placeholder="Meno..." name="people_autocomplete" id="people_autocomplete">
					<span class="help-block">Nájdi email a vlož človeka do projektu</span>
					<button class="btn btn-primary" type="submit">
						Vlož <i class="icon-arrow-right icon-white"></i>
					</button>
				</fieldset>
			</form>

		</div>

		<div class="span6">
			<div class="well namebox-container">
#{list items:project.users, as:'usr'}
				<div class="namebox clearfix">
					<!-- <img class="namebox-avatar" src="" /> -->
					<div class="namebox-name">
						<div>${usr.fullname}</div><div><i>${usr.email}</i></div>
					</div>
					<div class="namebox-close pull-right clearfix">
						<a class="close pull-right" href="/project/${project.id}/exituser/${usr.id}">&times;</a>
						<p class="pull-right">Vyhoď &nbsp;</p>
					</div>
				</div>
#{/list}
			</div>
		</div>
	</div>
</div>