
#{extends 'main_with_nav.html' /}
#{set title:'Prihlásenie' /}

<div class="container">
<div class="offset4 span4 well">
    <h2 align="center">Prihlásenie</h2>
    <hr />
		
	#{form @authenticate()}
		
		#{if flash.error}
			<div class="alert alert-error">
                            Uuups. Zlé meno, alebo heslo.
                        </div>
		#{/if}
		#{if flash.success}
			<div class="alert alert-success">
                            Boli ste úspešne odhlásení.
			</div>
		#{/if}
	
		<input type="text" name="username" class="input-block-level" placeholder="Meno" value="${flash.username}" />
		<input type="password" name="password" class="input-block-level" placeholder="Heslo" value="" />
		<label class="checkbox">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			Zapamätaj si ma
		</label>
                <button class="btn btn-primary" type="submit">Prihlásiť</button>
                <p></p>
                <p>Ak ešte nemáte konto, môžete sa <a href="/">registrovať</a>.</p>
	#{/form}
</div>
</div>