#{extends 'main_with_nav.html' /}
#{set title:'Nový projekt' /}

<div class="row">
	<div class="span12">
		<h2>Pridanie kolaborantov</h2> <h4>Časť 2/2</h4>
		<hr />
	</div>
</div>
<div class="row">
	<div class="span6">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="name">Vyhľadaj:</label>
				<div class="controls">
					<input type="text" id="name" placeholder="Meno...">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="desc"></label>
				<div class="controls">
					<button class="btn btn-primary" type="submit">
						Vlož <i class="icon-arrow-right icon-white"></i>
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="span6">
		<div class="well namebox-container">
			<div class="namebox clearfix">
				<img class="namebox-avatar" src="" />
				<p class="namebox-name">
					Jožko Mrkvička
				</p>
			</div>

			<div class="namebox clearfix">
				<img class="namebox-avatar" src="" />
				<p class="namebox-name">
					Jožko Mrkvička
				</p>
			</div>
		</div>
	</div>
</div>