#{extends 'main_nav_sidebar.html' /}
#{set title:'Úvodná stránka' /}

<!-- login cast, mozno bude na nieco dobra
<div class="container">
<div class="offset4 span4">
	<form>
		<h2 class="form-signin-heading">Prosím prihláste sa</h2>
		<input type="text" class="input-block-level" placeholder="Email address">
		<input type="password" class="input-block-level" placeholder="Password">
 		<label class="checkbox">
			<input type="checkbox" value="remember-me" /> Remember me
		</label>
		<button class="btn btn-primary" type="submit">Prihlás ma</button>
	</form>
</div>
</div> -->

