#{extends 'main.html' /}
#{set title:'Prihlásenie' /}

<div class="container">
<div class="offset4 span4">
	<form>
		<h1 class="form-signin-heading" align="center">SkyFrog</h1>
                <img src="public/img/SkyFrog.jpg" alt="SkyFrog"/>
		<input type="text" class="input-block-level" placeholder="Email address">
		<input type="password" class="input-block-level" placeholder="Password">
<!-- 		<label class="checkbox">
			<input type="checkbox" value="remember-me" /> Remember me
		</label> -->
		<button class="btn btn-primary" type="submit">Prihlásenie</button>
	</form>
</div>
</div>