#{extends 'main_nav_sidebar.html' /}
#{set title:'Úvodná stránka' /}

<div class="span8">
	<h2>Vitajte, ${user.fullname}!</h2>
        <hr />
	<div class="">
%{ 
	if (!user.isProfessor) {
%}
            <h5>Zoznam aktuálnych úloh:</h5>
                <div class="span7 well">
#{list items:user.projects, as:'pr'}
<h5>Projekt: ${pr.name}</h5>
#{list items:pr.tasks, as:'task'}
%{
    java.util.Date today = new java.util.Date();
    java.text.SimpleDateFormat df = new java.text.SimpleDateFormat("dd-MM-yyyy");
	if (task.completed == false 
        && task.start != null
        && task.start.compareTo(today) < 0 
        && (task.finish == null || task.finish.compareTo(today) > 0)) {
}%
        <div class="alert alert-block">
                <strong>${task.name}</strong>
                <p>Urobiť do: ${task.finish == null ? "" : df.format(task.finish)}</p>
        </div>
%{
	}
}%
#{/list}
#{/list}
                </div>
            
%{
	} else {
}%
            <h5>Zoznam aktuálnych projektov:</h5>
                <div class="span7 well">
#{list items:user.projects, as:'project'}
            <div class="alert alert-block">
                    <strong>${project.name}</strong>
                    <p>${project.desc}</p>
            </div>
#{/list}
                </div>
            
%{
	}
}%
        </div>
</div>