#{extends 'main_with_nav.html' /}

<div class="row-fluid">
	<div class="span4 well">

		<a class="btn btn-primary" href="/createnew">Nový projekt</a>
%{
if (user.isProfessor) {
}%
<a class="btn btn-primary" href="/createnewcourse">Nový kurz</a>
<p>
	<p>
	Zobraz projekty len z kurzu:
	</p>
<form method="GET" action="/profselectcourse" class="form-inline">
	<select name="courseid">
#{list items:courses, as:'course'}
		<option value="${course.id}">${course.name}</option>
#{/list}
	</select>
	<button type="submit" class="btn btn-primary">Potvrď</button>
</form>
</p>
%{	
}
}%
		<hr />
		<div id="accordion">

#{list items:user.projects, as:'p'}

			<h3>${p.name}</h3>
			<div>
				<p>
					<a href="/project/${p.id}/people">Ľudia</a>
				</p>
				<p>
					<a href="/project/${p.id}/tasks">Úlohy</a>
				</p>
				<p>
					<a href="/project/${p.id}/sources">Zdrojové kódy</a>
				</p>
				<p>
					<a href="/project/${p.id}/files">Ostatné súbory</a>
				</p>
				<p>
					<a href="/project/${p.id}/statistics">Štatistiky</a>
				</p>
				<p>
					<a href="/project/${p.id}/templates">Šablóny</a>
				</p>
%{
	if (project != null && p.id == project.id) {
		out.print('<input class="invisible hide" id="active_project" value="' + (p_index-1) + '" />');
		out.print('<input class="invisible hide" id="project_id" value="' + project.id + '" />');
	}
}%
			</div>
#{/list}

		</div>
	</div>
	#{doLayout /}
</div>
